body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../班级空间_1_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:-5px;
    top:101px;
    width:1340px;
    height:971px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1346px;
    height:977px;
}

.u1 {
    position:absolute;
    left:2px;
    top:478px;
    width:1336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:-5px;
    top:101px;
    width:1340px;
    height:971px
}

.u2_original {
    background-image: url('../班级空间_1_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:-9px;
    top:0px;
    width:1344px;
    height:102px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1344px;
    height:102px;
}

.u3 {
    position:absolute;
    left:2px;
    top:43px;
    width:1340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:-9px;
    top:0px;
    width:1344px;
    height:102px
}

.u4_original {
    background-image: url('../班级空间_1_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:-15px;
    top:1072px;
    width:1330px;
    height:28px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1330px;
    height:28px;
}

.u5 {
    position:absolute;
    left:2px;
    top:6px;
    width:1326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:-15px;
    top:1072px;
    width:1330px;
    height:28px
}

.u6 {
    position:absolute;
    left:168px;
    top:113px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:255px;
    top:112px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:270px;
    top:113px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:490px;
    top:112px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:580px;
    top:112px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:650px;
    top:112px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_original {
    background-image: url('../班级空间_1_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:169px;
    top:145px;
    width:992px;
    height:40px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:998px;
    height:46px;
}

.u13 {
    position:absolute;
    left:2px;
    top:12px;
    width:988px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:169px;
    top:145px;
    width:992px;
    height:40px
}

.u14 {
    position:absolute;
    left:174px;
    top:155px;
    width:337px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:511px;
    top:155px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_original {
    background-image: url('../班级空间_1_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:941px;
    top:152px;
    width:170px;
    height:27px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:27px;
}

.u17 {
    position:absolute;
    left:2px;
    top:6px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:941px;
    top:152px;
    width:170px;
    height:27px
}

.u18_original {
    background-image: url('../班级空间_1_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:168px;
    top:184px;
    width:987px;
    height:39px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:987px;
    height:39px;
}

.u19 {
    position:absolute;
    left:2px;
    top:12px;
    width:983px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:168px;
    top:184px;
    width:987px;
    height:39px
}

#u21 {
    position:absolute;
    left:170px;
    top:240px;
    width:995px;
    height:212px
}

.u21_table {
    background-image: url('../通讯录_files/u21_table.png');
}

.u21_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:999px;
    height:216px;
}

.u22_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px
}

.u24_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u24_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:23px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:23px
}

.u26_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u26_container {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:23px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:200px;
    top:0px;
    width:100px;
    height:23px
}

.u28_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u28_container {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:23px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:300px;
    top:0px;
    width:100px;
    height:23px
}

.u30_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u30_container {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:23px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:400px;
    top:0px;
    width:100px;
    height:23px
}

.u32_original {
    background-image: url('../通讯录_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:500px;
    top:0px;
    width:318px;
    height:23px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:314px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:500px;
    top:0px;
    width:318px;
    height:23px
}

.u34_original {
    background-image: url('../通讯录_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:818px;
    top:0px;
    width:172px;
    height:23px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:818px;
    top:0px;
    width:172px;
    height:23px
}

.u36_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u36_container {
    position:absolute;
    left:0px;
    top:23px;
    width:100px;
    height:23px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:0px;
    top:23px;
    width:100px;
    height:23px
}

.u38_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u38_container {
    position:absolute;
    left:100px;
    top:23px;
    width:100px;
    height:23px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:100px;
    top:23px;
    width:100px;
    height:23px
}

.u40_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u40_container {
    position:absolute;
    left:200px;
    top:23px;
    width:100px;
    height:23px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:200px;
    top:23px;
    width:100px;
    height:23px
}

.u42_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u42_container {
    position:absolute;
    left:300px;
    top:23px;
    width:100px;
    height:23px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:300px;
    top:23px;
    width:100px;
    height:23px
}

.u44_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u44_container {
    position:absolute;
    left:400px;
    top:23px;
    width:100px;
    height:23px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:400px;
    top:23px;
    width:100px;
    height:23px
}

.u46_original {
    background-image: url('../通讯录_files/u32_original.png');
}

.u46_container {
    position:absolute;
    left:500px;
    top:23px;
    width:318px;
    height:23px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:314px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:500px;
    top:23px;
    width:318px;
    height:23px
}

.u48_original {
    background-image: url('../通讯录_files/u34_original.png');
}

.u48_container {
    position:absolute;
    left:818px;
    top:23px;
    width:172px;
    height:23px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:818px;
    top:23px;
    width:172px;
    height:23px
}

.u50_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:46px;
    width:100px;
    height:23px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:0px;
    top:46px;
    width:100px;
    height:23px
}

.u52_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u52_container {
    position:absolute;
    left:100px;
    top:46px;
    width:100px;
    height:23px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:100px;
    top:46px;
    width:100px;
    height:23px
}

.u54_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u54_container {
    position:absolute;
    left:200px;
    top:46px;
    width:100px;
    height:23px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:200px;
    top:46px;
    width:100px;
    height:23px
}

.u56_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u56_container {
    position:absolute;
    left:300px;
    top:46px;
    width:100px;
    height:23px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:300px;
    top:46px;
    width:100px;
    height:23px
}

.u58_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u58_container {
    position:absolute;
    left:400px;
    top:46px;
    width:100px;
    height:23px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:400px;
    top:46px;
    width:100px;
    height:23px
}

.u60_original {
    background-image: url('../通讯录_files/u32_original.png');
}

.u60_container {
    position:absolute;
    left:500px;
    top:46px;
    width:318px;
    height:23px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:314px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:500px;
    top:46px;
    width:318px;
    height:23px
}

.u62_original {
    background-image: url('../通讯录_files/u34_original.png');
}

.u62_container {
    position:absolute;
    left:818px;
    top:46px;
    width:172px;
    height:23px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:818px;
    top:46px;
    width:172px;
    height:23px
}

.u64_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:69px;
    width:100px;
    height:23px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:0px;
    top:69px;
    width:100px;
    height:23px
}

.u66_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u66_container {
    position:absolute;
    left:100px;
    top:69px;
    width:100px;
    height:23px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:100px;
    top:69px;
    width:100px;
    height:23px
}

.u68_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u68_container {
    position:absolute;
    left:200px;
    top:69px;
    width:100px;
    height:23px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:200px;
    top:69px;
    width:100px;
    height:23px
}

.u70_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u70_container {
    position:absolute;
    left:300px;
    top:69px;
    width:100px;
    height:23px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:300px;
    top:69px;
    width:100px;
    height:23px
}

.u72_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u72_container {
    position:absolute;
    left:400px;
    top:69px;
    width:100px;
    height:23px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:400px;
    top:69px;
    width:100px;
    height:23px
}

.u74_original {
    background-image: url('../通讯录_files/u32_original.png');
}

.u74_container {
    position:absolute;
    left:500px;
    top:69px;
    width:318px;
    height:23px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:314px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:500px;
    top:69px;
    width:318px;
    height:23px
}

.u76_original {
    background-image: url('../通讯录_files/u34_original.png');
}

.u76_container {
    position:absolute;
    left:818px;
    top:69px;
    width:172px;
    height:23px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:818px;
    top:69px;
    width:172px;
    height:23px
}

.u78_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u78_container {
    position:absolute;
    left:0px;
    top:92px;
    width:100px;
    height:23px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:0px;
    top:92px;
    width:100px;
    height:23px
}

.u80_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u80_container {
    position:absolute;
    left:100px;
    top:92px;
    width:100px;
    height:23px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:100px;
    top:92px;
    width:100px;
    height:23px
}

.u82_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u82_container {
    position:absolute;
    left:200px;
    top:92px;
    width:100px;
    height:23px;
}

.u83 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:200px;
    top:92px;
    width:100px;
    height:23px
}

.u84_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u84_container {
    position:absolute;
    left:300px;
    top:92px;
    width:100px;
    height:23px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:300px;
    top:92px;
    width:100px;
    height:23px
}

.u86_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u86_container {
    position:absolute;
    left:400px;
    top:92px;
    width:100px;
    height:23px;
}

.u87 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:400px;
    top:92px;
    width:100px;
    height:23px
}

.u88_original {
    background-image: url('../通讯录_files/u32_original.png');
}

.u88_container {
    position:absolute;
    left:500px;
    top:92px;
    width:318px;
    height:23px;
}

.u89 {
    position:absolute;
    left:2px;
    top:2px;
    width:314px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:500px;
    top:92px;
    width:318px;
    height:23px
}

.u90_original {
    background-image: url('../通讯录_files/u34_original.png');
}

.u90_container {
    position:absolute;
    left:818px;
    top:92px;
    width:172px;
    height:23px;
}

.u91 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:818px;
    top:92px;
    width:172px;
    height:23px
}

.u92_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u92_container {
    position:absolute;
    left:0px;
    top:115px;
    width:100px;
    height:23px;
}

.u93 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:0px;
    top:115px;
    width:100px;
    height:23px
}

.u94_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u94_container {
    position:absolute;
    left:100px;
    top:115px;
    width:100px;
    height:23px;
}

.u95 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:100px;
    top:115px;
    width:100px;
    height:23px
}

.u96_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u96_container {
    position:absolute;
    left:200px;
    top:115px;
    width:100px;
    height:23px;
}

.u97 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:200px;
    top:115px;
    width:100px;
    height:23px
}

.u98_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u98_container {
    position:absolute;
    left:300px;
    top:115px;
    width:100px;
    height:23px;
}

.u99 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:300px;
    top:115px;
    width:100px;
    height:23px
}

.u100_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u100_container {
    position:absolute;
    left:400px;
    top:115px;
    width:100px;
    height:23px;
}

.u101 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:400px;
    top:115px;
    width:100px;
    height:23px
}

.u102_original {
    background-image: url('../通讯录_files/u32_original.png');
}

.u102_container {
    position:absolute;
    left:500px;
    top:115px;
    width:318px;
    height:23px;
}

.u103 {
    position:absolute;
    left:2px;
    top:2px;
    width:314px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:500px;
    top:115px;
    width:318px;
    height:23px
}

.u104_original {
    background-image: url('../通讯录_files/u34_original.png');
}

.u104_container {
    position:absolute;
    left:818px;
    top:115px;
    width:172px;
    height:23px;
}

.u105 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:818px;
    top:115px;
    width:172px;
    height:23px
}

.u106_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u106_container {
    position:absolute;
    left:0px;
    top:138px;
    width:100px;
    height:23px;
}

.u107 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:0px;
    top:138px;
    width:100px;
    height:23px
}

.u108_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u108_container {
    position:absolute;
    left:100px;
    top:138px;
    width:100px;
    height:23px;
}

.u109 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:100px;
    top:138px;
    width:100px;
    height:23px
}

.u110_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u110_container {
    position:absolute;
    left:200px;
    top:138px;
    width:100px;
    height:23px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:200px;
    top:138px;
    width:100px;
    height:23px
}

.u112_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u112_container {
    position:absolute;
    left:300px;
    top:138px;
    width:100px;
    height:23px;
}

.u113 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:300px;
    top:138px;
    width:100px;
    height:23px
}

.u114_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u114_container {
    position:absolute;
    left:400px;
    top:138px;
    width:100px;
    height:23px;
}

.u115 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:400px;
    top:138px;
    width:100px;
    height:23px
}

.u116_original {
    background-image: url('../通讯录_files/u32_original.png');
}

.u116_container {
    position:absolute;
    left:500px;
    top:138px;
    width:318px;
    height:23px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:314px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:500px;
    top:138px;
    width:318px;
    height:23px
}

.u118_original {
    background-image: url('../通讯录_files/u34_original.png');
}

.u118_container {
    position:absolute;
    left:818px;
    top:138px;
    width:172px;
    height:23px;
}

.u119 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:818px;
    top:138px;
    width:172px;
    height:23px
}

.u120_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u120_container {
    position:absolute;
    left:0px;
    top:161px;
    width:100px;
    height:23px;
}

.u121 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:0px;
    top:161px;
    width:100px;
    height:23px
}

.u122_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u122_container {
    position:absolute;
    left:100px;
    top:161px;
    width:100px;
    height:23px;
}

.u123 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:100px;
    top:161px;
    width:100px;
    height:23px
}

.u124_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u124_container {
    position:absolute;
    left:200px;
    top:161px;
    width:100px;
    height:23px;
}

.u125 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:200px;
    top:161px;
    width:100px;
    height:23px
}

.u126_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u126_container {
    position:absolute;
    left:300px;
    top:161px;
    width:100px;
    height:23px;
}

.u127 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:300px;
    top:161px;
    width:100px;
    height:23px
}

.u128_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u128_container {
    position:absolute;
    left:400px;
    top:161px;
    width:100px;
    height:23px;
}

.u129 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:400px;
    top:161px;
    width:100px;
    height:23px
}

.u130_original {
    background-image: url('../通讯录_files/u32_original.png');
}

.u130_container {
    position:absolute;
    left:500px;
    top:161px;
    width:318px;
    height:23px;
}

.u131 {
    position:absolute;
    left:2px;
    top:2px;
    width:314px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:500px;
    top:161px;
    width:318px;
    height:23px
}

.u132_original {
    background-image: url('../通讯录_files/u34_original.png');
}

.u132_container {
    position:absolute;
    left:818px;
    top:161px;
    width:172px;
    height:23px;
}

.u133 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:818px;
    top:161px;
    width:172px;
    height:23px
}

.u134_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u134_container {
    position:absolute;
    left:0px;
    top:184px;
    width:100px;
    height:23px;
}

.u135 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:0px;
    top:184px;
    width:100px;
    height:23px
}

.u136_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u136_container {
    position:absolute;
    left:100px;
    top:184px;
    width:100px;
    height:23px;
}

.u137 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:100px;
    top:184px;
    width:100px;
    height:23px
}

.u138_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u138_container {
    position:absolute;
    left:200px;
    top:184px;
    width:100px;
    height:23px;
}

.u139 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:200px;
    top:184px;
    width:100px;
    height:23px
}

.u140_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u140_container {
    position:absolute;
    left:300px;
    top:184px;
    width:100px;
    height:23px;
}

.u141 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:300px;
    top:184px;
    width:100px;
    height:23px
}

.u142_original {
    background-image: url('../通讯录_files/u22_original.png');
}

.u142_container {
    position:absolute;
    left:400px;
    top:184px;
    width:100px;
    height:23px;
}

.u143 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:400px;
    top:184px;
    width:100px;
    height:23px
}

.u144_original {
    background-image: url('../通讯录_files/u32_original.png');
}

.u144_container {
    position:absolute;
    left:500px;
    top:184px;
    width:318px;
    height:23px;
}

.u145 {
    position:absolute;
    left:2px;
    top:2px;
    width:314px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:500px;
    top:184px;
    width:318px;
    height:23px
}

.u146_original {
    background-image: url('../通讯录_files/u34_original.png');
}

.u146_container {
    position:absolute;
    left:818px;
    top:184px;
    width:172px;
    height:23px;
}

.u147 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:818px;
    top:184px;
    width:172px;
    height:23px
}

