body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../机构设置_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:9px;
    top:101px;
    width:1340px;
    height:971px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1346px;
    height:977px;
}

.u1 {
    position:absolute;
    left:2px;
    top:478px;
    width:1336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:9px;
    top:101px;
    width:1340px;
    height:971px
}

.u2_original {
    background-image: url('../机构设置_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:5px;
    top:0px;
    width:1344px;
    height:102px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1344px;
    height:102px;
}

.u3 {
    position:absolute;
    left:2px;
    top:43px;
    width:1340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:5px;
    top:0px;
    width:1344px;
    height:102px
}

.u4_original {
    background-image: url('../机构设置_files/u4_original.png');
}

.u4_container {
    position:absolute;
    left:-1px;
    top:1072px;
    width:1330px;
    height:28px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1330px;
    height:28px;
}

.u5 {
    position:absolute;
    left:2px;
    top:6px;
    width:1326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:-1px;
    top:1072px;
    width:1330px;
    height:28px
}

.u6_text {
    position:absolute;
    left:182px;
    top:113px;
    width:87px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:182px;
    top:113px;
    width:87px;
    height:19px
}

.u7 {
    position:absolute;
    left:269px;
    top:112px;
    width:10px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_text {
    position:absolute;
    left:286px;
    top:112px;
    width:53px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:286px;
    top:112px;
    width:53px;
    height:19px
}

.u9_text {
    position:absolute;
    left:49px;
    top:208px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:49px;
    top:208px;
    width:100px;
    height:19px
}

.u10_text {
    position:absolute;
    left:49px;
    top:169px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:49px;
    top:169px;
    width:100px;
    height:19px
}

.u11_text {
    position:absolute;
    left:49px;
    top:249px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:49px;
    top:249px;
    width:100px;
    height:19px
}

.u12_text {
    position:absolute;
    left:49px;
    top:289px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:49px;
    top:289px;
    width:100px;
    height:19px
}

.u13_text {
    position:absolute;
    left:49px;
    top:357px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:49px;
    top:357px;
    width:100px;
    height:19px
}

.u14_text {
    position:absolute;
    left:49px;
    top:396px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:49px;
    top:396px;
    width:100px;
    height:19px
}

.u15_text {
    position:absolute;
    left:49px;
    top:323px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:49px;
    top:323px;
    width:100px;
    height:19px
}

.u16_text {
    position:absolute;
    left:49px;
    top:438px;
    width:100px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:49px;
    top:438px;
    width:100px;
    height:19px
}

.u18_original {
    background-image: url('../机构设置-首页基本信息_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:180px;
    top:181px;
    width:640px;
    height:709px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:646px;
    height:715px;
}

.u19 {
    position:absolute;
    left:2px;
    top:346px;
    width:636px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:180px;
    top:181px;
    width:640px;
    height:709px
}

.u20 {
    position:absolute;
    left:200px;
    top:253px;
    width:90px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:270px;
    top:250px;
    width:190px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:471px;
    top:252px;
    width:48px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:510px;
    top:249px;
    width:140px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:200px;
    top:398px;
    width:90px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:268px;
    top:394px;
    width:512px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:200px;
    top:434px;
    width:90px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:268px;
    top:431px;
    width:512px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:202px;
    top:470px;
    width:90px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:269px;
    top:467px;
    width:201px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:500px;
    top:471px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:560px;
    top:466px;
    width:220px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:200px;
    top:211px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:270px;
    top:211px;
    width:380px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34_original {
    background-image: url('../机构设置-首页基本信息_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:680px;
    top:201px;
    width:120px;
    height:120px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:126px;
}

.u35 {
    position:absolute;
    left:2px;
    top:50px;
    width:116px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:680px;
    top:201px;
    width:120px;
    height:120px
}

.u36 {
    position:absolute;
    left:697px;
    top:282px;
    width:93px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:200px;
    top:292px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:270px;
    top:291px;
    width:190px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:460px;
    top:291px;
    width:190px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:200px;
    top:331px;
    width:60px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:16px;
    top:0px;
    width:92px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:16px;
    top:0px;
    width:65px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:16px;
    top:0px;
    width:52px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:200px;
    top:688px;
    width:70px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:270px;
    top:691px;
    width:510px;
    height:189px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:204px;
    top:506px;
    width:90px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:271px;
    top:503px;
    width:201px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:477px;
    top:507px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:200px;
    top:539px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:264px;
    top:536px;
    width:411px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62 {
    position:absolute;
    left:675px;
    top:533px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u63 {
    position:absolute;
    left:202px;
    top:577px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:265px;
    top:581px;
    width:515px;
    height:90px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65 {
    position:absolute;
    left:700px;
    top:905px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u66 {
    position:absolute;
    left:347px;
    top:111px;
    width:370px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:16px;
    top:0px;
    width:92px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

