body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../每周食谱_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:99px;
    width:1340px;
    height:1031px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1346px;
    height:1037px;
}

.u1 {
    position:absolute;
    left:2px;
    top:508px;
    width:1336px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:99px;
    width:1340px;
    height:1031px
}

.u2 {
    position:absolute;
    left:90px;
    top:196px;
    width:250px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:138px;
    top:195px;
    width:131px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:780px;
    top:195px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:272px;
    top:196px;
    width:247px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6_menu {
    background-image: url('../每周食谱_files/u6_menu.png');
}

.u6_menu {
    position:absolute;
    left:88px;
    top:97px;
    width:805px;
    height:38px;
}

#u7 {
    position:absolute;
    left:3px;
    top:3px;
    width:795px;
    height:28px
}

.u7_table {
    background-image: url('../每周食谱_files/u7_table.png');
}

.u7_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:799px;
    height:32px;
}

.u8_original {
    background-image: url('../每周食谱_files/u8_original.png');
}

.u8_container {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:23px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:23px
}

.u10_original {
    background-image: url('../每周食谱_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:65px;
    top:0px;
    width:79px;
    height:23px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:65px;
    top:0px;
    width:79px;
    height:23px
}

.u12_original {
    background-image: url('../每周食谱_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:144px;
    top:0px;
    width:63px;
    height:23px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:59px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:144px;
    top:0px;
    width:63px;
    height:23px
}

.u14_original {
    background-image: url('../每周食谱_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:207px;
    top:0px;
    width:78px;
    height:23px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:207px;
    top:0px;
    width:78px;
    height:23px
}

.u16_original {
    background-image: url('../每周食谱_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:285px;
    top:0px;
    width:84px;
    height:23px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:80px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:285px;
    top:0px;
    width:84px;
    height:23px
}

.u18_original {
    background-image: url('../每周食谱_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:369px;
    top:0px;
    width:82px;
    height:23px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:78px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:369px;
    top:0px;
    width:82px;
    height:23px
}

.u20_original {
    background-image: url('../每周食谱_files/u10_original.png');
}

.u20_container {
    position:absolute;
    left:451px;
    top:0px;
    width:79px;
    height:23px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:451px;
    top:0px;
    width:79px;
    height:23px
}

.u22_original {
    background-image: url('../每周食谱_files/u22_original.png');
}

.u22_container {
    position:absolute;
    left:530px;
    top:0px;
    width:100px;
    height:23px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:530px;
    top:0px;
    width:100px;
    height:23px
}

.u24_original {
    background-image: url('../每周食谱_files/u18_original.png');
}

.u24_container {
    position:absolute;
    left:629px;
    top:0px;
    width:82px;
    height:23px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:78px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:629px;
    top:0px;
    width:82px;
    height:23px
}

.u26_original {
    background-image: url('../每周食谱_files/u26_original.png');
}

.u26_container {
    position:absolute;
    left:711px;
    top:0px;
    width:80px;
    height:23px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:76px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:711px;
    top:0px;
    width:80px;
    height:23px
}

.u28_original {
    background-image: url('../每周食谱_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:-4px;
    top:-2px;
    width:1344px;
    height:102px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1344px;
    height:102px;
}

.u29 {
    position:absolute;
    left:2px;
    top:43px;
    width:1340px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:-4px;
    top:-2px;
    width:1344px;
    height:102px
}

.u30_original {
    background-image: url('../每周食谱_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:-20px;
    top:1131px;
    width:1330px;
    height:28px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1330px;
    height:28px;
}

.u31 {
    position:absolute;
    left:2px;
    top:6px;
    width:1326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:-20px;
    top:1131px;
    width:1330px;
    height:28px
}

#u32 {
    position:absolute;
    left:92px;
    top:230px;
    width:793px;
    height:607px
}

.u32_table {
    background-image: url('../每周食谱_files/u32_table.png');
}

.u32_table {
    position:absolute;
    left:-3px;
    top:-3px;
    width:797px;
    height:611px;
}

.u33_original {
    background-image: url('../每周食谱_files/u33_original.png');
}

.u33_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:23px
}

.u35_original {
    background-image: url('../每周食谱_files/u35_original.png');
}

.u35_container {
    position:absolute;
    left:100px;
    top:0px;
    width:140px;
    height:23px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:100px;
    top:0px;
    width:140px;
    height:23px
}

.u37_original {
    background-image: url('../每周食谱_files/u37_original.png');
}

.u37_container {
    position:absolute;
    left:240px;
    top:0px;
    width:135px;
    height:23px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:131px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:240px;
    top:0px;
    width:135px;
    height:23px
}

.u39_original {
    background-image: url('../每周食谱_files/u39_original.png');
}

.u39_container {
    position:absolute;
    left:375px;
    top:0px;
    width:149px;
    height:23px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:375px;
    top:0px;
    width:149px;
    height:23px
}

.u41_original {
    background-image: url('../每周食谱_files/u41_original.png');
}

.u41_container {
    position:absolute;
    left:524px;
    top:0px;
    width:124px;
    height:23px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:524px;
    top:0px;
    width:124px;
    height:23px
}

.u43_original {
    background-image: url('../每周食谱_files/u35_original.png');
}

.u43_container {
    position:absolute;
    left:648px;
    top:0px;
    width:140px;
    height:23px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:648px;
    top:0px;
    width:140px;
    height:23px
}

.u45_original {
    background-image: url('../每周食谱_files/u45_original.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:23px;
    width:100px;
    height:118px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:0px;
    top:23px;
    width:100px;
    height:118px
}

.u47_original {
    background-image: url('../每周食谱_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:100px;
    top:23px;
    width:140px;
    height:118px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:57px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:100px;
    top:23px;
    width:140px;
    height:118px
}

.u49_original {
    background-image: url('../每周食谱_files/u49_original.png');
}

.u49_container {
    position:absolute;
    left:240px;
    top:23px;
    width:135px;
    height:118px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:131px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:240px;
    top:23px;
    width:135px;
    height:118px
}

.u51_original {
    background-image: url('../每周食谱_files/u51_original.png');
}

.u51_container {
    position:absolute;
    left:375px;
    top:23px;
    width:149px;
    height:118px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:95px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:375px;
    top:23px;
    width:149px;
    height:118px
}

.u53_original {
    background-image: url('../每周食谱_files/u53_original.png');
}

.u53_container {
    position:absolute;
    left:524px;
    top:23px;
    width:124px;
    height:118px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:524px;
    top:23px;
    width:124px;
    height:118px
}

.u55_original {
    background-image: url('../每周食谱_files/u47_original.png');
}

.u55_container {
    position:absolute;
    left:648px;
    top:23px;
    width:140px;
    height:118px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:114px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:648px;
    top:23px;
    width:140px;
    height:118px
}

.u57_original {
    background-image: url('../每周食谱_files/u57_original.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:141px;
    width:100px;
    height:80px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:0px;
    top:141px;
    width:100px;
    height:80px
}

.u59_original {
    background-image: url('../每周食谱_files/u59_original.png');
}

.u59_container {
    position:absolute;
    left:100px;
    top:141px;
    width:140px;
    height:80px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:100px;
    top:141px;
    width:140px;
    height:80px
}

.u61_original {
    background-image: url('../每周食谱_files/u61_original.png');
}

.u61_container {
    position:absolute;
    left:240px;
    top:141px;
    width:135px;
    height:80px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:240px;
    top:141px;
    width:135px;
    height:80px
}

.u63_original {
    background-image: url('../每周食谱_files/u63_original.png');
}

.u63_container {
    position:absolute;
    left:375px;
    top:141px;
    width:149px;
    height:80px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:375px;
    top:141px;
    width:149px;
    height:80px
}

.u65_original {
    background-image: url('../每周食谱_files/u65_original.png');
}

.u65_container {
    position:absolute;
    left:524px;
    top:141px;
    width:124px;
    height:80px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:524px;
    top:141px;
    width:124px;
    height:80px
}

.u67_original {
    background-image: url('../每周食谱_files/u59_original.png');
}

.u67_container {
    position:absolute;
    left:648px;
    top:141px;
    width:140px;
    height:80px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:648px;
    top:141px;
    width:140px;
    height:80px
}

.u69_original {
    background-image: url('../每周食谱_files/u69_original.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:221px;
    width:100px;
    height:42px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:0px;
    top:221px;
    width:100px;
    height:42px
}

.u71_original {
    background-image: url('../每周食谱_files/u71_original.png');
}

.u71_container {
    position:absolute;
    left:100px;
    top:221px;
    width:140px;
    height:42px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:100px;
    top:221px;
    width:140px;
    height:42px
}

.u73_original {
    background-image: url('../每周食谱_files/u73_original.png');
}

.u73_container {
    position:absolute;
    left:240px;
    top:221px;
    width:135px;
    height:42px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:240px;
    top:221px;
    width:135px;
    height:42px
}

.u75_original {
    background-image: url('../每周食谱_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:375px;
    top:221px;
    width:149px;
    height:42px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:375px;
    top:221px;
    width:149px;
    height:42px
}

.u77_original {
    background-image: url('../每周食谱_files/u77_original.png');
}

.u77_container {
    position:absolute;
    left:524px;
    top:221px;
    width:124px;
    height:42px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:524px;
    top:221px;
    width:124px;
    height:42px
}

.u79_original {
    background-image: url('../每周食谱_files/u71_original.png');
}

.u79_container {
    position:absolute;
    left:648px;
    top:221px;
    width:140px;
    height:42px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:648px;
    top:221px;
    width:140px;
    height:42px
}

.u81_original {
    background-image: url('../每周食谱_files/u69_original.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:263px;
    width:100px;
    height:42px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:0px;
    top:263px;
    width:100px;
    height:42px
}

.u83_original {
    background-image: url('../每周食谱_files/u71_original.png');
}

.u83_container {
    position:absolute;
    left:100px;
    top:263px;
    width:140px;
    height:42px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:100px;
    top:263px;
    width:140px;
    height:42px
}

.u85_original {
    background-image: url('../每周食谱_files/u73_original.png');
}

.u85_container {
    position:absolute;
    left:240px;
    top:263px;
    width:135px;
    height:42px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:240px;
    top:263px;
    width:135px;
    height:42px
}

.u87_original {
    background-image: url('../每周食谱_files/u75_original.png');
}

.u87_container {
    position:absolute;
    left:375px;
    top:263px;
    width:149px;
    height:42px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:375px;
    top:263px;
    width:149px;
    height:42px
}

.u89_original {
    background-image: url('../每周食谱_files/u77_original.png');
}

.u89_container {
    position:absolute;
    left:524px;
    top:263px;
    width:124px;
    height:42px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:524px;
    top:263px;
    width:124px;
    height:42px
}

.u91_original {
    background-image: url('../每周食谱_files/u71_original.png');
}

.u91_container {
    position:absolute;
    left:648px;
    top:263px;
    width:140px;
    height:42px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:648px;
    top:263px;
    width:140px;
    height:42px
}

.u93_original {
    background-image: url('../每周食谱_files/u93_original.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:305px;
    width:100px;
    height:99px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:0px;
    top:305px;
    width:100px;
    height:99px
}

.u95_original {
    background-image: url('../每周食谱_files/u95_original.png');
}

.u95_container {
    position:absolute;
    left:100px;
    top:305px;
    width:140px;
    height:99px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:100px;
    top:305px;
    width:140px;
    height:99px
}

.u97_original {
    background-image: url('../每周食谱_files/u97_original.png');
}

.u97_container {
    position:absolute;
    left:240px;
    top:305px;
    width:135px;
    height:99px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:240px;
    top:305px;
    width:135px;
    height:99px
}

.u99_original {
    background-image: url('../每周食谱_files/u99_original.png');
}

.u99_container {
    position:absolute;
    left:375px;
    top:305px;
    width:149px;
    height:99px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:375px;
    top:305px;
    width:149px;
    height:99px
}

.u101_original {
    background-image: url('../每周食谱_files/u101_original.png');
}

.u101_container {
    position:absolute;
    left:524px;
    top:305px;
    width:124px;
    height:99px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:524px;
    top:305px;
    width:124px;
    height:99px
}

.u103_original {
    background-image: url('../每周食谱_files/u95_original.png');
}

.u103_container {
    position:absolute;
    left:648px;
    top:305px;
    width:140px;
    height:99px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:648px;
    top:305px;
    width:140px;
    height:99px
}

.u105_original {
    background-image: url('../每周食谱_files/u93_original.png');
}

.u105_container {
    position:absolute;
    left:0px;
    top:404px;
    width:100px;
    height:99px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:0px;
    top:404px;
    width:100px;
    height:99px
}

.u107_original {
    background-image: url('../每周食谱_files/u95_original.png');
}

.u107_container {
    position:absolute;
    left:100px;
    top:404px;
    width:140px;
    height:99px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:100px;
    top:404px;
    width:140px;
    height:99px
}

.u109_original {
    background-image: url('../每周食谱_files/u97_original.png');
}

.u109_container {
    position:absolute;
    left:240px;
    top:404px;
    width:135px;
    height:99px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:240px;
    top:404px;
    width:135px;
    height:99px
}

.u111_original {
    background-image: url('../每周食谱_files/u99_original.png');
}

.u111_container {
    position:absolute;
    left:375px;
    top:404px;
    width:149px;
    height:99px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:375px;
    top:404px;
    width:149px;
    height:99px
}

.u113_original {
    background-image: url('../每周食谱_files/u101_original.png');
}

.u113_container {
    position:absolute;
    left:524px;
    top:404px;
    width:124px;
    height:99px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:524px;
    top:404px;
    width:124px;
    height:99px
}

.u115_original {
    background-image: url('../每周食谱_files/u95_original.png');
}

.u115_container {
    position:absolute;
    left:648px;
    top:404px;
    width:140px;
    height:99px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:648px;
    top:404px;
    width:140px;
    height:99px
}

.u117_original {
    background-image: url('../每周食谱_files/u93_original.png');
}

.u117_container {
    position:absolute;
    left:0px;
    top:503px;
    width:100px;
    height:99px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:0px;
    top:503px;
    width:100px;
    height:99px
}

.u119_original {
    background-image: url('../每周食谱_files/u95_original.png');
}

.u119_container {
    position:absolute;
    left:100px;
    top:503px;
    width:140px;
    height:99px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:100px;
    top:503px;
    width:140px;
    height:99px
}

.u121_original {
    background-image: url('../每周食谱_files/u97_original.png');
}

.u121_container {
    position:absolute;
    left:240px;
    top:503px;
    width:135px;
    height:99px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:240px;
    top:503px;
    width:135px;
    height:99px
}

.u123_original {
    background-image: url('../每周食谱_files/u99_original.png');
}

.u123_container {
    position:absolute;
    left:375px;
    top:503px;
    width:149px;
    height:99px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:375px;
    top:503px;
    width:149px;
    height:99px
}

.u125_original {
    background-image: url('../每周食谱_files/u101_original.png');
}

.u125_container {
    position:absolute;
    left:524px;
    top:503px;
    width:124px;
    height:99px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:524px;
    top:503px;
    width:124px;
    height:99px
}

.u127_original {
    background-image: url('../每周食谱_files/u95_original.png');
}

.u127_container {
    position:absolute;
    left:648px;
    top:503px;
    width:140px;
    height:99px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:648px;
    top:503px;
    width:140px;
    height:99px
}

.u129 {
    position:absolute;
    left:90px;
    top:143px;
    width:370px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:770px;
    top:858px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'微软雅黑';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

